@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

:root {
    --main-color: #2D4262;
    --text-menu-color: #fff;
}

body {
    font-family: 'Poppins', sans-serif;
}

section {
    padding: 2rem 9%;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 9%;
    background: var(--main-color);
    position: relative;
}

.logo a{
 text-decoration: none;
 color:var(--text-menu-color);
 font-weight: 500;
 font-size: 1.5rem;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-left: 3rem;
}

.menu li a {
    text-decoration: none;
    color: var(--text-menu-color);
    font-size: 1.2rem;
}

/* hamburger menu css */
.hamburger-menu {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 2rem;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--text-menu-color);
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  h1 {
    margin: 2rem 0;
    font-size: 3rem;
  }

  

  .hero .description {
    margin: 2.5rem 0;
    font-size: 1.2rem;
  }

  .search-box {
    width: 100%;
    max-width: 500px;
    background: rgba(78, 71, 71, 0.2);
    /* background: greenyellow; */
    display: flex;
    justify-content: start;
    margin-top: 1rem;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
  }

  .search-box input {
    background: transparent;
    flex: 1;
    padding: 9px 20px;
    font-size: 20px;
    color: var(--main-color);
  }

  ::placeholder {
    color: var(--main-color);
  }

  .search-box button i{
    font-size: 1.5rem;
    color: var(--text-menu-color);
  }

  .search-box button {
   border-radius: 50%;
   width: 2.5rem;
   height: 2.5rem;
   background: var(--main-color);
   cursor: pointer;
  }

  .btn {
 
    margin-top: 2.5rem;
    transition: 0.3s;
    margin-left: 2.5rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    background-color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }

  .blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    margin: 2rem 2rem;

  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    border-radius: 2rem;
   
  }

  .card img {
    border-radius: 2rem 2rem 0 0 ;
  }
  
  .date {
    color: grey;
    font-size: 0.875rem;
  }
  .description {
    font-size: 0.9rem;
  }
  
  .card button , .blog-box button{

    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 80%;
    border-radius: 32px;
    font-size: 18px;
    margin: 20px 0;
  }
  
  .card button:hover ,.blog-box button:hover {
    opacity: 0.7;
  }


  .filter {
    display: none; 
  }
  
 
  .show {
    display: block;
  }

  .btn {
  
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }

  
/* Slideshow container */
.slideshow-container {
  position: relative;
}

/* Slides */
.mySlides {
  display: none;
  margin: 80px  80px  0px 80px ; 
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;

}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
 
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}


.blog-box {
  max-width: 1120px;
  height: 300px;
  overflow: hidden;
  /* display: flex; */
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}



.img-topblog{
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 70%;
  background-color: orange;
  left: 0;
  top: 0;
  border-radius: 2rem 0 0 2rem ;
}


.blog-box .description {
  height: 100%;
  width: 30%;
  position: absolute;
  /* background-color: orange; */
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  row-gap: 15px;
  border: 1px solid black;
  border-radius: 0 2rem 2rem 0;
}


.picture-blog {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

 .picture-blog input[type=text], .picture-blog select, .picture-blog form textarea  {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  border-radius: .8rem;
  margin: .7rem 0;
  font-family: 'Poppins', sans-serif;

}

.picture-blog form textarea {
  resize: none;

}



input[type=submit] {
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
    padding: 12px;
    text-align: center;
    cursor: pointer;
   
    border-radius: 32px;
    font-size: 18px;
    margin: 20px 0;
    float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}





/* responsive  */

@media (max-width: 1300px) {

}

@media (max-width: 1120px) {

}
@media (min-width: 992px) { 
    .hamburger-menu {
        display: none;
    }
}
@media (max-width: 992px) {
    
    nav {
        padding: 1.3rem 5%;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        display: none;
    }

    .menu {
        width: 100%;
    }

    .menu li {
        margin: rem 0;
        padding: 1rem 0.5rem;
        transition: 0.3s;
    }

    .menu li:hover {
        background-color: greenyellow;
    }

    .menu-active {
        display: block;
      }

      .blog {
        grid-template-columns: repeat(2, 1fr);
      }
    

}

@media (max-width: 720px) {
 
}

@media (max-width: 567px) {
    .blog {
        grid-template-columns: repeat(1, 1fr);
      }

}

@media (max-width: 480px) {

}

@media (max-width: 420px) {

}

@media (max-width: 376px) {

}

@media (min-width: 376px) {

}
